@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
--main: #ffb900;
--green-blue: hsla(211, 79%, 67%, 1);
--carolina-blue: #0085ad;
--green-sheen: hsla(174, 40%, 75%, 1);

--mikado-yellow: hsla(47, 100%, 100%, 1);
--sunglow: hsla(47, 80%, 100%, 1);
--caribbean-green: hsla(154, 57%, 80%, 1);
--background: #F8F7B4;
--backgroundd: #ffb900
}

header {
	height: 2em;
	margin: 0;
	opacity: 0.9;

	background-color: var(--main);
	color: var(--carolina-blue);

	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;

	box-shadow: 2px -1px 10px grey;
	/* border-bottom: 2px 2px solid var(--green-blue); */
}

header > * {
	margin: 0;
	height: auto
}

header > h1 {
	margin-left: 1.5em;
	font-size: 1.1em;
	font-family: 'Pacifico', cursive;
}


header > div {
	margin-right: 1em;
}

.header-route {
	display: flex;

	justify-content: space-between;

	flex-flow: row;
	flex-direction: row;
	flex-wrap: wrap;
}


 .button {
	/* padding: 0 1em; */
	width: 4em;

	text-align: center;
}

.button > button {
	width: 5em;
	height: 2.7em;
	font-size: 0.75em;
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	/* font-family: Pacifico, sans-serif; */

	border: none;
	outline: none;
	margin: 0;

	background: transparent;
	color: var(--carolina-blue);
}

.button:hover {
	box-shadow: 0px 2px 5px var(--sunglow);
	border-radius: 2px;
	opacity: 0.8;
	background-color: var(--background);
}

.board-container {
	display: flex;
	justify-content: space-between;
	margin: 0 1em;
	flex-flow: row;
	flex-direction: row;
}

.board-sec {
	width: 33.33%;
	min-height: 100vh;

	padding: 2em 1em;
	font-size: 0.7em;
	text-align: center;
	/* display: flex; */
}

.card {
	width: 100%;
	border-radius: 10px;
	padding: 0;
	/* background-image: linear-gradient(360deg, var(--green-sheen), var(--green-sheen), var(--green-blue)); */
	box-shadow: 0px 1px 10px lightgrey;
	opacity: 0.9;

	font-size: 0.6em;
	line-height: 1.3em;
	color: var(--main);
	margin: 1em auto;
}
