<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ current_user.username }}'s Board</title>
	<!-- <link rel="icon" href=""> -->
	<link rel="stylesheet" href="../static/css/board.css">

</head>
<body>
	<header>
		<h1>BananaBoard | Hello, {{ current_user.username }}!</h1>
		<div class="header-route">
			{% if current_user.is_authenticated %}
				<div class="button">
					<button onclick="location.href = '/create';" type="button" name="button">Create Task!</button>
				</div>
				<div class="button">
					<button onclick="location.href = '/logout';" type="button" name="button">Logout</button>
				</div>
			{% else %}
				<div class="login button">
					<button onclick="location.href = '/login';" type="button" name="button">Login</button>
				</div>
				<div class="register button">
					<button onclick="location.href = '/register';" type="button" name="button">Register</button>
				</div>
			{% endif %}
		</div>
	</header>

	<div class="board-container">
		<div class="to-do board-sec">
			<h3>To Do</h3>
			{% if to_do %}
				{% for to_do_task in to_do %}
					<div class="card">
						<h2 class="heading">{{ to_do_task[0] }}</h2>
						<div class="wrapper2">
							<div class="wrapper">
								<h5 class="heading class">typed as <i>{{ to_do_task[2] }}</i></h5>
								<h5 class="heading desc">assigned to <i>{{ current_user.username }}</i></h5>
							</div>

							<div class="button">
								<button onclick="location.href = '/edit/{{ to_do_task[3] }}';" type="button" name="button"><img src="../static/images/edit.png"></button>
							</div>
						</div>
						<p>{{ to_do_task[1] }}</p>
					</div>
				{% endfor %}
			{% else %}
				<h6>Empty!</h6>
			{% endif %}
		</div>

		<div class="in-progress board-sec">
			<h3>Doing</h3>
			{% if doing %}
				{% for doing_task in doing %}
					<div class="card">
						<h2 class="heading">{{ doing_task[0] }}</h2>
						<div class="wrapper2">
							<div class="wrapper">
								<h5 class="heading class">typed as <i>{{ doing_task[2] }}</i></h5>
								<h5 class="heading desc">assigned to <i>{{ current_user.username }}</i></h5>
							</div>

							<div class="button">
								<button onclick="location.href = '/edit/{{ doing_task[3] }}';" type="button" name="button"><img src="../static/images/edit.png"></button>
							</div>
						</div>
						<p>{{ doing_task[1] }}</p>
					</div>
				{% endfor %}
			{% else %}
				<h6>Empty!</h6>
			{% endif %}
		</div>

		<div class="done board-sec">
			<h3>Done</h3>
			{% if done %}
				{% for done_task in done %}
					<div class="card">
						<h2 class="heading">{{ done_task[0] }}</h2>
						<div class="wrapper2">
							<div class="wrapper">
								<h5 class="heading class">typed as <i>{{ done_task[2] }}</i></h5>
								<h5 class="heading desc">assigned to <i>{{ current_user.username }}</i></h5>
							</div>

							<div class="button">
								<button onclick="location.href = '/edit/{{ done_task[3] }}';" type="button" name="button"><img src="../static/images/edit.png"></button>
							</div>
						</div>
						<p>{{ done_task[1] }}</p>
					</div>
				{% endfor %}
			{% else %}
				<h6>Empty!</h6>
			{% endif %}
		</div>

		<form action="/board" class="drop" method="POST">
			<select class="prev-types" name="type" >
				<option value="">Select Type</option>
				{% for type in task_types %}
					<option value="{{ type[0] }}">{{ type[1] }}</option>
				{% endfor %}
			</select>

			<button onclick="location.href = '/board';" type="button" name="button">C</button>
		</form>

	</div>

	<footer>

	</footer>
</body>
</html>
