<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BananaBoard</title>
	<!-- <link rel="icon" href=""> -->
	<link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
	<header>
		<h1>BananaBoard</h1>
		<div class="header-route">
			<div class="login button">
				<button type="button" name="button" >Login</button>
			</div>
			<div class="register button">
				<button type="button"  name="button">Register</button>
			</div>
		</div>
	</header>

	<div class="card">
		<h3>Welcome to<h2> BananaBoard!</h2></h3>
		<div class="text">
			Your local organisation board.
			<br>
			Easy to use, simple to manage.
			<br>
			<br>
			Keep track of your tasks -
			<br>
			all in one place.
		</div>
		<h3 class="banner">Ready to go bananas?</h3>
	</div>


	<footer>

	</footer>
</body>
</html>
