<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BananaBoard</title>
	<!-- <link rel="icon" href=""> -->

	<link rel="stylesheet" href="../static/css/board.css";>
	<link rel="stylesheet" href="../static/css/edit.css";>
	<link rel="stylesheet" href="../static/css/login.css";>

</head>
<body>
	<header>
		<h1>BananaBoard</h1>
		<div class="header-route">
			<div class="login button">
				<button type="button" name="button" >Login</button>
			</div>
			<div class="register button">
				<button type="button"  name="button">Register</button>
			</div>
		</div>
	</header>

	<div class="board-container">
		<div class="board-sec">
			<div class="card card2">
				<h3>Login</h3>
				<input class="input" placeholder="username" type="text">
				<input class="input" placeholder="password" type="text">
				<div class="wrapper2">


					<div class="buttons">
						<div class="button login2">
							<button type="button"  name="button"><img src="../static/images/edit.png"></button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>

	</footer>
</body>
</html>
